/* Styling for the main container of the app */
.App {
  text-align: center;
  margin-top: 50px;
  background-color: aliceblue;
}

/* Styling for input fields */
input {
  margin: 10px;
  padding: 5px;
  width: 250px;
}

/* Styling for buttons */
button {
  margin: 5px;
  padding: 10px 20px;
  color: blue;
}

/* Styling for h1 elements */
h1 {
  color: blue;
}

/* Styling for p elements */
p {
  color: red;
}
